#danpicture {
  rotate: right;
  max-width: 300px;
  max-height: 450px;
  border-radius: 75%;
  transform: rotate(90deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 50%;
}
}

.col-md-1 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: url(https://i.imgur.com/A26yVu5.jpg) no-repeat center center fixed;
  background-size: cover;
}
.workbody {
  background: url(https://i.imgur.com/pTowOfR.jpg) no-repeat center center fixed;
  background-size: cover;
}

.thumbnail{
  max-width: 500px;
  max-height: 500px;
  margin: 40px 40px 40px 40px;
}

.workheader {
  text-align: center;
}

.homeheader {
  text-align: center;
  margin: 150px;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
}

.contactheader {
  text-align: center;
  margin: 200px;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
}

.workheader {
  text-align: center;
  margin: 200px;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
}


.aboutheader {
  text-align: center;
  margin: 200px;
  margin-bottom: 75px;
  font-family: 'Permanent Marker', cursive;
  font-size: large;
}
.blurb {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: white;
}
.aboutblurb {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.punch {
  font-family: 'Permanent Marker', cursive;
  color: black;
}

.interests {
  font-family: 'Permanent Marker', cursive;
}