#danpicture {
  rotate: right;
  max-width: 300px;
  max-height: 450px;
  border-radius: 50%;
  transform: rotate(90deg);
}

.col-md-1 {
  font-family: 'Ubuntu', sans-serif;
}

html {
  background: url(images/background-image.png) no-repeat center center fixed; 
}

.thumbnail{
  max-width: 500px;
  max-height: 500px;
  margin: 40px 40px 40px 40px;
}

.workheader {
  text-align: center;
}

.homeheader {
  text-align: center;
  margin: 200px;
}

.blurb {
  text-align: center;
}