#danpicture {
  rotate: right;
  max-width: 300px;
  max-height: 450px;
  border-radius: 50%;
  transform: rotate(90deg);
}

.col-md-1 {
  font-family: 'Ubuntu', sans-serif;
}

html {
  background: url(images/background-image.png) no-repeat center center fixed; 
}

.col-md-1 img {
  max-width: 300px;
  max-height: 300px;
}